<div class="sidebar">
        
        <div class="sidebar-section">
             <h5><span>Avisos</span></h5>
           <img src="{{ site.baseurl }}/assets/images/entrenamiento_domicilio.png" alt="Entrenamiento a domicilio" width="280" height="1120">
                </br></br>
                Haz Clic Abajo! <i class="fa fa-hand-o-down" style="font-size:24px"></i>
                </br>
                <i class="fa fa-whatsapp" style="font-size:44px"></i><a href="https://wa.me/+56942984998"><font color="#000000"> +56-9-42984998</font></a>
                </br>
                <i class="fa fa-envelope" style="font-size:44px"></i><a href = "mailto: alabrin@live.cl"><font color="#000000"> alabrin@live.cl</font></a>
                </br>
                <i class="fa fa-envelope" style="font-size:44px"></i><a href = "mailto: entrenarconciencia@gmail.com"><font color="#000000"> entrenarconciencia@gmail.com</font></a>
        </div>        
        
        <div class="sidebar-section">
            <h5><span>Redes Sociales</span></h5>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fcategory%2FHealth---Wellness-Website%2FEntrenar-con-Ciencia-2431184923783303%2F&tabs=timeline&width=250&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="250" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
            
</div>
