<div class="sidebar">
        
        <div class="sidebar-section">
             <h5><span>Avisos</span></h5>
           <img src="{{ site.baseurl }}/assets/images/entrenamiento_domicilio.png" alt="Entrenamiento a domicilio" width="280" height="1120">
        </div>        
        
        <div class="sidebar-section">
            <h5><span>Redes Sociales</span></h5>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2Fcategory%2FHealth---Wellness-Website%2FEntrenar-con-Ciencia-2431184923783303%2F&tabs=timeline&width=250&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="250" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
            
</div>
